
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<Loiloc.Models.tblProduct>
@using Loiloc.Models
<div class="nVar_Product">
    <nav> @Html.Raw(ViewBag.nUrl)</nav>

</div>
<div id="Product">

    @Html.Raw(ViewBag.result)
    @Html.PagedListPager(Model, page => Url.Action("productTag", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)


     

</div>

