
<div id="Transport">
    <h4>Cách dịch vụ mà <span> Loiloc.com</span> đang triển khai cho khách hàng !</h4>
    <div id="contentTransport">
        <div class="Tear_Tran tt">
            <span class="tr1">MIỄN PHÍ 100% CÔNG </span>
            <span class="tr2">Thay lõi lọc nước tại nhà</span>
        </div>
        <div class="Tear_Tran gh">
            <span class="tr1">MIỄN PHÍ BẢO TRÌ</span>
            <span class="tr2">Với mọi máy lọc nước </span>
        </div>
        <div class="Tear_Tran dh">
            <span class="tr1">Tặng lõi số 1</span>
            <span class="tr2">Đơn hàng lắp đặt từ 17H - 22H</span>
        </div>
    </div>


</div>