@model Loiloc.Models.tblConfig
<div id="tuVan">
    <div id="mainTuVan">
        <span class="sp1">
            Bạn cần được tư vấn cụ thể về các dịch vụ?
        </span>
        <p class="sp2">
            Hãy gọi nhóm hỗ trợ khách hàng của chúng tôi theo số <span>@Model.HotlineIN </span>hoặc yêu cầu Loiloc.com gọi lại cho bạn <a href="/lien-he" title="liên hệ" rel="nofollow"> tại đây</a>
        </p>
    </div>
</div>
<div id="register">
    <div id="mainRegister">
        <div id="boxRegister">
            <input type="text" name="email" id="newsletter" title="Đăng ký bản tin" class="input-text required-entry validate-email" placeholder="Nhập email để đăng ký nhận tin tức Loiloc.com">
            <button type="submit" title="Đăng ký" class="button">         <span><span>Đăng ký</span></span></button>
        </div>
    </div>
</div>